body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

.btn-primary-active {
    text-decoration: underline;
    text-decoration-thickness: 1.25px;
}

.visually-hidden {
    position: absolute !important;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.image-name ol {
    padding-left: 1rem;
    margin-bottom: 0;
}

input,
textarea,
select {
    border-radius: 2px !important;
}

.social-links {
    list-style-type: none;
}

.container {
    border-radius: 2px !important;
}